page-counter {
}

#clockdiv{
	font-family: sans-serif;
  background: #00ECB9;
	color: #fff;
  padding-bottom: 8px;
  width: 100%;
}

#clockdiv > h1{
  font-weight: 75;
  font-size: 19px;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

#clockdiv > div{
  font-weight: 100;
  text-align: center;
  padding-top: 0px;
	border-radius: 2px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
	//padding: 5px;
  font-size: 20px;
  margin-top: 0px;
	border-radius: 1px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 1px;
	font-size: 8px;
}
